@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
body {
  font-family: "Fira Sans", sans-serif;
  background-color: gray;
}
.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
h1{
  color: whitesmoke;
  margin-top: 0px;
}
h3 {
  color: whitesmoke;
  margin-top: 0px;
}
.parse_container p {
  color: whitesmoke;
  margin: 15px;
}
.parse_container {
  /*
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 35px;
  background-color: gray;
  font-weight: 600;
  font-size: 16px;
  margin: 15px 0px;
}
.options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main_options .options {
  justify-content: space-evenly;
}
.option:focus {
  border: none;
  outline: none;
}
.option {
  width: 125px;
  padding: 15px 15px;
  border-radius: 5px;
  margin: 15px;
  border: none;
  font-weight: 600;
  font-size: 15px;
}

.desc {
  padding: 0px 15px;
}
.parse_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 155px;
  height: 47.6px;
  padding: 5px 15px;
  margin: 15px;
  background-color: #333333;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: whitesmoke;
  border-radius: 5px;
  transition: all 0.1s ease;
}
.parse_btn:active {
  background-color: lightcoral;
}
.usability {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}
.main_options .usability {
  padding-top: 10px;
}

.usability p {
  margin: 15px 0px 0px 0px;
}
